.container {
  height: 480px;
  position: relative;
  overflow: hidden;
  background: url("/public/assets/floor/sprite_0.png") repeat-x;
  animation: animatedBackground 5s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: -1000px 100%;
  }
}

.clouds {
  height: 180px;
  position: relative;
  overflow: hidden;
  background: url("/public/assets/clouds/sprite_0.png") repeat-x;
  animation: animateClouds 18s linear infinite;
}

@keyframes animateClouds {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0 100%;
  }
}